.login_container {
    min-height: 100vh;
    background-color: var(--primary);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../../assets/images/bg-login.jpg);
    background-size: 100% 100%;
    background-position: 50%;
    background-repeat: no-repeat;
}

.logo3t {
    text-align: center;
}

.login_form {
    position: relative;
    background-color: #fff;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
    width: 350px;
    padding: 50px 20px 40px;

    .logoLogin {
        display: flex;
        width: 270px;
        margin-bottom: 50px;
    }

    .inputLogin {
        width: 100%;

        input {
            font-size: 20px;
            color: var(--primary);
            width: 100%;
            font-weight: 500;
        }
    }

    .errorMessage {
        display: flex;
        column-gap: 4px;
        color: var(--error);
    }

    .buttonLogin {
        width: 100%;
        height: 56px;
        font-size: 20px;

        svg {
            margin-right: 10px;
        }
    }

    .note {
        text-align: center;
        color: var(--gray);
        font-size: 15px;
    }

    .hotline {
        color: var(--primary);

        a {
            color: var(--primary);
        }
    }
}

.listContract {
    display: flex;
    flex-wrap: wrap;
    row-gap: 15px;

    .item {
        width: 100%;
        background-color: var(--primary);
        color: #fff;
        padding: 10px;
        text-align: center;
        border-radius: 8px;

        &:hover {
            box-shadow: 0 2px 12px rgba(35, 17, 69, 0.15);
        }

        .nameRoom {
            font-weight: 600;
            font-size: 1.15rem;
        }
    }
}

.hotline {
    font-weight: 500;
    margin-top: 16px;
    text-align: center;
    color: var(--primary);
}
