footer {
    background-color: #333;
    color: #fff;

    @media (max-width: 767px) {
        padding-bottom: 52px;
    }

    hr {
        border-color: rgba(255, 255, 255, 0.1) !important;
    }
}

.boxFooter {
    display: flex;
    justify-content: space-between;
    text-align: left;
    padding: 30px 0 20px;
    gap: 30px 20px;

    @media (max-width: 767px) {
        flex-wrap: wrap;
    }

    .itemFooter {
        @media (max-width: 767px) {
            width: 100%;
        }

        &:first-child {
            width: 50%;
        }

        .titleFooter {
            font-size: 1.2rem;
            font-weight: 500;
            margin-bottom: 15px;
        }
        p {
            margin-bottom: 5px;
        }

        a {
            color: #fff;

            &:hover {
                color: var(--primary);
            }
        }
    }
}

.copyright {
    padding: 10px 0;
    text-align: center;
}
