// @import "normalize.css";

:root {
    --primary: #15a35e;
    --red: #d32f2f;
    --error: #ef5350;
    --success: #459f49;
    --warning: #ff9800;
    --black: #000;
    --gray: #777;
    --white: #fff;
    --text-color: #1d1b20;

    // Default Layout
    --default-layout-header-height: 60px;
    --default-layout-width: 1150px;
    --default-layout-horizontal-spacer: 24px;
}

@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/Roboto/Roboto-MediumItalic.eot");
    src:
        url("../../assets/fonts/Roboto/Roboto-MediumItalic.eot") format("embedded-opentype"),
        url("../../assets/fonts/Roboto/Roboto-MediumItalic.woff2") format("woff2"),
        url("../../assets/fonts/Roboto/Roboto-MediumItalic.woff") format("woff"),
        url("../../assets/fonts/Roboto/Roboto-MediumItalic.ttf") format("truetype"),
        url("../../assets/fonts/Roboto/Roboto-MediumItalic.svg") format("svg");
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/Roboto/Roboto-BlackItalic.eot");
    src:
        url("../../assets/fonts/Roboto/Roboto-BlackItalic.eot") format("embedded-opentype"),
        url("../../assets/fonts/Roboto/Roboto-BlackItalic.woff2") format("woff2"),
        url("../../assets/fonts/Roboto/Roboto-BlackItalic.woff") format("woff"),
        url("../../assets/fonts/Roboto/Roboto-BlackItalic.ttf") format("truetype"),
        url("../../assets/fonts/Roboto/Roboto-BlackItalic.svg") format("svg");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/Roboto/Roboto-Black.eot");
    src:
        url("../../assets/fonts/Roboto/Roboto-Black.eot") format("embedded-opentype"),
        url("../../assets/fonts/Roboto/Roboto-Black.woff2") format("woff2"),
        url("../../assets/fonts/Roboto/Roboto-Black.woff") format("woff"),
        url("../../assets/fonts/Roboto/Roboto-Black.ttf") format("truetype"),
        url("../../assets/fonts/Roboto/Roboto-Black.svg") format("svg");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/Roboto/Roboto-Medium.eot");
    src:
        url("../../assets/fonts/Roboto/Roboto-Medium.eot") format("embedded-opentype"),
        url("../../assets/fonts/Roboto/Roboto-Medium.woff2") format("woff2"),
        url("../../assets/fonts/Roboto/Roboto-Medium.woff") format("woff"),
        url("../../assets/fonts/Roboto/Roboto-Medium.ttf") format("truetype"),
        url("../../assets/fonts/Roboto/Roboto-Medium.svg") format("svg");
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/Roboto/Roboto-BoldItalic.eot");
    src:
        url("../../assets/fonts/Roboto/Roboto-BoldItalic.eot") format("embedded-opentype"),
        url("../../assets/fonts/Roboto/Roboto-BoldItalic.woff2") format("woff2"),
        url("../../assets/fonts/Roboto/Roboto-BoldItalic.woff") format("woff"),
        url("../../assets/fonts/Roboto/Roboto-BoldItalic.ttf") format("truetype"),
        url("../../assets/fonts/Roboto/Roboto-BoldItalic.svg") format("svg");
    font-weight: bold;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/Roboto/Roboto-Bold.eot");
    src:
        url("../../assets/fonts/Roboto/Roboto-Bold.eot") format("embedded-opentype"),
        url("../../assets/fonts/Roboto/Roboto-Bold.woff2") format("woff2"),
        url("../../assets/fonts/Roboto/Roboto-Bold.woff") format("woff"),
        url("../../assets/fonts/Roboto/Roboto-Bold.ttf") format("truetype"),
        url("../../assets/fonts/Roboto/Roboto-Bold.svg") format("svg");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/Roboto/Roboto-ThinItalic.eot");
    src:
        url("../../assets/fonts/Roboto/Roboto-ThinItalic.eot") format("embedded-opentype"),
        url("../../assets/fonts/Roboto/Roboto-ThinItalic.woff2") format("woff2"),
        url("../../assets/fonts/Roboto/Roboto-ThinItalic.woff") format("woff"),
        url("../../assets/fonts/Roboto/Roboto-ThinItalic.ttf") format("truetype"),
        url("../../assets/fonts/Roboto/Roboto-ThinItalic.svg") format("svg");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/Roboto/Roboto-Regular.eot");
    src:
        url("../../assets/fonts/Roboto/Roboto-Regular.eot") format("embedded-opentype"),
        url("../../assets/fonts/Roboto/Roboto-Regular.woff2") format("woff2"),
        url("../../assets/fonts/Roboto/Roboto-Regular.woff") format("woff"),
        url("../../assets/fonts/Roboto/Roboto-Regular.ttf") format("truetype"),
        url("../../assets/fonts/Roboto/Roboto-Regular.svg#Roboto-Regular") format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/Roboto/Roboto-Italic.eot");
    src:
        url("../../assets/fonts/Roboto/Roboto-Italic.eot") format("embedded-opentype"),
        url("../../assets/fonts/Roboto/Roboto-Italic.woff2") format("woff2"),
        url("../../assets/fonts/Roboto/Roboto-Italic.woff") format("woff"),
        url("../../assets/fonts/Roboto/Roboto-Italic.ttf") format("truetype"),
        url("../../assets/fonts/Roboto/Roboto-Italic.svg#Roboto-Italic") format("svg");
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/Roboto/Roboto-LightItalic.eot");
    src:
        url("../../assets/fonts/Roboto/Roboto-LightItalic.eot") format("embedded-opentype"),
        url("../../assets/fonts/Roboto/Roboto-LightItalic.woff2") format("woff2"),
        url("../../assets/fonts/Roboto/Roboto-LightItalic.woff") format("woff"),
        url("../../assets/fonts/Roboto/Roboto-LightItalic.ttf") format("truetype"),
        url("../../assets/fonts/Roboto/Roboto-LightItalic.svg") format("svg");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/Roboto/Roboto-Light.eot");
    src:
        url("../../assets/fonts/Roboto/Roboto-Light.eot") format("embedded-opentype"),
        url("../../assets/fonts/Roboto/Roboto-Light.woff2") format("woff2"),
        url("../../assets/fonts/Roboto/Roboto-Light.woff") format("woff"),
        url("../../assets/fonts/Roboto/Roboto-Light.ttf") format("truetype"),
        url("../../assets/fonts/Roboto/Roboto-Light.svg") format("svg");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Roboto";
    src: url("../../assets/fonts/Roboto/Roboto-Thin.eot");
    src:
        url("../../assets/fonts/Roboto/Roboto-Thin.eot") format("embedded-opentype"),
        url("../../assets/fonts/Roboto/Roboto-Thin.woff2") format("woff2"),
        url("../../assets/fonts/Roboto/Roboto-Thin.woff") format("woff"),
        url("../../assets/fonts/Roboto/Roboto-Thin.ttf") format("truetype"),
        url("../../assets/fonts/Roboto/Roboto-Thin.svg") format("svg");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-size: 16px;
    line-height: 1.5;
    text-rendering: optimizeSpeed;
    color: var(--text-color);
    font-family: "Roboto";

    @media (max-width: 767px) {
        font-size: 14px;
    }

    // max-height: 300px;
    // overflow-y: auto;
    &::-webkit-scrollbar-track {
        -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
        width: 6px;
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #777;
        border-radius: 4px;
    }
}

// button,
// input,
// [tabindex] {
//     border: none;
//     outline: none;
// }

button {
    position: relative;
    overflow: hidden;
}

button:after {
    position: absolute;
    content: "";
    width: 50px;
    height: 500px;
    background: rgba(255, 255, 255, 0.2);
    top: -250px;
    left: 60%;
    filter: blur(5px);
    transform: rotate(45deg) translate(-450%, 0);
    transition: all 0.5s cubic-bezier(0.645, 0.045, 0.355, 1);
}

button:hover::after {
    transform: rotate(45deg) translate(450%, 0);
    transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
}

a[href] {
    // color: var(--text-color);
    text-decoration: none;
}

img {
    max-width: 100%;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.color-main {
    color: var(--primary);
}
.color-red {
    color: var(--red);
}
.color-gray {
    color: var(--gray);
}

.box-border {
    box-shadow: 0 2px 12px rgba(35, 17, 69, 0.15);
    border-radius: 8px;
    padding: 18px 16px;
    background-color: #fff;
}

.title-main {
    font-size: 18px;
    font-weight: 600;
    color: var(--text-color);
    margin-bottom: 14px;
}

.text-center {
    text-align: center;
}
