.wrapper {
    display: flex;
    column-gap: 20px;

    @media (max-width: 767px) {
        flex-wrap: wrap;
    }

    .boxInvoice {
        width: 40%;

        @media (max-width: 767px) {
            width: 100%;
            margin-bottom: 30px;
        }

        .price {
            font-weight: 500;
        }

        .topContent {
            position: relative;
            padding: 12px 20px;
            background-color: #c8e6c9;
            border-radius: 8px 8px 0 0;
            color: #666666;
            font-size: 14px;
            text-align: center;

            .icon {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 32px;
                height: 32px;
                background-color: #fff;
                border-radius: 12px;

                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;

                &:hover {
                    background-color: var(--primary);
                    svg {
                        color: #fff;
                    }
                }

                &.iconPrev {
                    left: 16px;
                }
                &.iconNext {
                    right: 16px;
                }
            }

            .title {
                .day {
                    color: var(--text-color);
                }
            }
        }

        .boxContent {
            padding: 16px;
            background-color: #fff;
            border-radius: 0 0 8px 8px;
            margin-bottom: 20px;
        }

        .listTask {
            .itemTask {
                background-color: #f5f5fa;
                margin-bottom: 8px;
                padding: 6px 12px;
                border-radius: 4px;

                .info {
                    display: flex;
                    justify-content: space-between;

                    .name {
                        font-weight: 400;
                        color: #666666;
                    }

                    .price {
                    }
                }

                .desc {
                    display: flex;
                    justify-content: space-between;
                    font-size: 12px;

                    span {
                        color: #666666;
                    }

                    .status {
                        &.error {
                            color: var(--error);
                        }
                        &.success {
                            color: var(--success);
                        }
                        &.warning {
                            color: var(--warning);
                        }
                    }
                }
            }
        }

        .boxTotal {
            margin-top: 12px;

            .item {
                display: flex;
                justify-content: space-between;
                margin-bottom: 6px;

                .name {
                    color: #666666;
                }

                .price {
                }
            }
        }
        .totalPrice {
            display: flex;
            justify-content: space-between;
            margin-top: 12px;
            margin-bottom: 16px;
        }

        .listBtn {
            margin-top: 16px;

            @media (max-width: 767px) {
                position: fixed;
                left: 0;
                right: 0;
                bottom: 54px;
                width: 100%;
                background-color: #fff;
                // border-top: 0.5px solid #d5d5d5;
                padding: 5px 0;
                z-index: 88;
            }

            button {
                font-weight: 500;
                text-transform: initial;
                width: calc(50% - 10px);

                @media (max-width: 767px) {
                    font-size: 0.8rem;
                    padding: 8px 10px;
                }
            }
        }

        .boxHistory {
            .listTask {
                .itemTask {
                    .name {
                        color: var(--text-color);
                    }
                }
            }
        }
    }

    .boxPayment {
        flex: 1;
        text-align: left;
        color: #555;

        .boxStep {
            margin-bottom: 30px;
            &:last-child {
                margin-bottom: 0;
            }

            .itemStep {
                position: relative;
                padding-left: 32px;
                margin-bottom: 16px;

                &:last-child {
                    &::after {
                        display: none;
                    }
                }

                &::after {
                    position: absolute;
                    content: "";
                    bottom: 0;
                    left: 10px;
                    width: 1px;
                    height: calc(90% - 28px);
                    background-color: #bcbcbc;
                }

                .icon {
                    position: absolute;
                    left: 0;
                    top: 5px;

                    svg {
                        width: 24px;
                    }
                }

                .content {
                    .title {
                        margin-bottom: 5px;
                        font-weight: bold;
                    }

                    .desc {
                    }
                }
            }
        }
    }
}
