header {
    background-color: var(--primary);
}

.boxHeader {
    padding: 10px 0;
    display: flex;
    justify-content: space-between;

    .logo {
        width: 100px;
    }
}

.menuHeader {
    display: flex;
    justify-content: center;
    column-gap: 8px;
    background-color: var(--primary);

    @media (max-width: 767px) {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        z-index: 99;
        justify-content: space-between;
        padding: 6px 10px;
        column-gap: 6px;
    }

    .itemMenu {
        position: relative;
        padding-bottom: 5px;

        @media (max-width: 767px) {
            padding-bottom: 0;
            width: 25%;
        }

        &.active {
            @media (max-width: 767px) {
                background-color: #fff;
                border-radius: 8px;
            }

            a,
            span,
            svg {
                background-color: #fff;
                color: var(--primary);
            }
        }
    }

    .hasSub {
        .subMenu {
            @media (max-width: 767px) {
                top: initial;
                bottom: 45px;
            }

            a {
                @media (max-width: 767px) {
                    font-size: 14px;
                }
            }
        }
    }

    a {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        column-gap: 8px;
        padding: 5px 10px;
        border-radius: 8px;
        color: var(--text-color);

        @media (max-width: 767px) {
            padding: 1px 5px;
            font-size: 10px;
        }

        &.active,
        &:hover {
            background-color: #fff;
            svg,
            span {
                color: var(--primary);
            }
        }

        svg {
            color: #fff;
        }

        span {
            color: #fff;
            display: flex;
            align-items: center;
            justify-content: center;

            @media (max-width: 767px) {
                margin-top: 0;
                width: 100%;
            }

            svg {
                @media (max-width: 767px) {
                    display: none;
                    position: absolute;
                }
            }
        }
    }
}

.itemMenu {
}
.hasSub {
    position: relative;

    &:hover {
        .subMenu {
            display: block;
        }
    }

    span {
        svg {
            @media (max-width: 767px) {
                transform: rotate(180deg);
            }
        }
    }

    .subMenu {
        display: none;
        position: absolute;
        top: calc(100%);
        border-radius: 5px;
        background-color: #fff;
        box-shadow:
            0px 5px 5px -3px rgba(58, 53, 65, 0.2),
            0px 8px 10px 1px rgba(58, 53, 65, 0.14),
            0px 3px 14px 2px rgba(58, 53, 65, 0.12);
        width: max-content;
        min-width: 100%;
        max-width: 320px;
        padding: 8px 0;
        transition: all 0.5s;
        z-index: 88;

        @media (max-width: 767px) {
            // top: initial;
            top: calc(100%);
        }

        a {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            column-gap: 8px;
            padding: 5px 12px;
            font-size: 0.95rem;
            border-radius: 0;
            color: var(--text-color);

            &:hover {
                background-color: var(--primary);
                color: #fff;
            }
        }
    }
}

.actionRight {
    display: flex;
    column-gap: 8px;

    .item {
        display: flex;
        align-items: center;
    }

    svg {
        color: #fff;
    }

    .avatar {
        display: flex;
        justify-content: center;
        margin: 0 auto 5px;
        overflow: hidden;
        width: 40px;
        img {
            border-radius: 50%;
        }
    }

    .subMenu {
        right: 0;

        ul {
            li {
                display: flex;
                align-items: center;
                column-gap: 8px;
                padding: 6px 16px;
                color: var(--text-color);

                a,
                .btnLogout {
                    padding: 0;

                    &:hover {
                        background-color: transparent;
                        color: var(--primary);

                        svg {
                            color: var(--primary);
                        }
                    }
                }

                svg {
                    color: var(--text-color);
                }

                .btnLogout {
                    display: flex;
                    align-items: center;
                    column-gap: 8px;
                    cursor: pointer;
                }
            }
        }
    }
}

.modalSearch {
    .btnSearch {
        min-width: 130px;
    }
}
