.boxNotFound {
    display: flex;
    align-content: center;
    justify-content: center;
    flex-wrap: wrap;
    min-height: 100vh;
    text-align: center;

    svg {
        font-size: 120px;
        color: var(--primary);
        margin-bottom: 20px;
    }

    .title {
        width: 100%;
        font-size: 30px;
        font-weight: bold;
    }
}
